Binaries/\nBuild/\nDerivedDataCache/\nIntermediate/\nSaved/\n*.sln\n*.log
Binaries/
Intermediate/
.vs/
*.pdb
*.db
Saved/Logs/ThievesOfSeasv2-backup-2025.03.19-07.24.04.log
/Saved/Logs
/Saved/Logs
/Saved/Logs
Saved/Logs/ThievesOfSeasv2_2.log
Saved/AutoScreenshot.png
/Saved/Config/CrashReportClient
/Saved/Config/CrashReportClient
/Saved/Config/CrashReportClient
/Saved/Config/CrashReportClient
/Intermediate
/Saved/Autosaves
/Saved
/Content/VERY_IMPORTANT_FILES
/Saved
/Saved
/Saved/Logs
