Binaries/\nBuild/\nDerivedDataCache/\nIntermediate/\nSaved/\n*.sln\n*.log
Binaries/
Intermediate/
.vs/
*.pdb
*.db
Saved/Logs/ThievesOfSeasv2-backup-2025.03.19-07.24.04.log
/Saved/Logs
/Saved/Logs
/Saved/Logs
